<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tutoringapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fitsSystemWindows="true"
        android:icon="@mipmap/pencil_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pencil_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityLeaveReview"
            android:parentActivityName=".ActivityRequests"></activity>
        <activity
            android:name=".ActivityStudentProfile"
            android:parentActivityName=".ActivityRequests" />
        <activity
            android:name=".ActivityRequests"
            android:parentActivityName=".ActivityHome" />
        <activity android:name=".DialogComment" />
        <activity
            android:name=".ActivityTutorProfile"
            android:parentActivityName=".ActivityFindTutor" />
        <activity android:name=".DialogFilter" />
        <activity
            android:name=".ActivityFindTutor"
            android:parentActivityName=".ActivityHome" />
        <activity android:name=".ActivityHome" />
        <activity
            android:name=".ActivityLogIn"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityRegister"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivitySetProfile"
            android:parentActivityName=".ActivityRegister" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>